[user]
	name = Brian Shimanuki
	email = brianshimanuki@gmail.com
[core]
	excludesFile = ~/.gitignore_global
	pager = less -x1,5
[include]
	path = .gitconfig_system
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictStyle = diff3
[advice]
	detachedHead = false
[push]
	autoSetupRemote = false
[diff]
	colorMoved = zebra
[includeIf "gitdir:~/dotfiles/"]
	path = ~/dotfiles/.gitconfig
