[user]
	name = Brian Shimanuki
	email = brianshimanuki@gmail.com
[core]
	excludesfile = .gitignore_global
	pager = less -x1,5
[include]
	path = .gitconfig_system
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
