[user]
	name = Brian Shimanuki
	email = bshimanuki@mit.edu
[core]
	excludesfile = .gitignore_global
[include]
	path = .gitconfig_system
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
