[submodule "YouCompleteMe"]
	path = vim/.vim/ycm/YouCompleteMe
	url = git@github.com:bshimanuki/YouCompleteMe.git
	ignore = dirty
[submodule "zprezto"]
	path = zsh/.zsh/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	ignore = dirty
