---
BasedOnStyle: Google
ColumnLimit: 0
TabWidth: 2
UseTab: Always
AccessModifierOffset: -2
AlignAfterOpenBracket: false
AlignOperands: false
AlignEscapedNewlinesLeft: false
AlignTrailingComments: false
AlwaysBreakTemplateDeclarations: false
AlwaysBreakBeforeMultilineStrings: false
ConstructorInitializerIndentWidth: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
SpaceBeforeParens: Never
---
Language: Cpp
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Right
...

